<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>临在记录</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
		<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/echarts/4.8.0/echarts.min.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/vConsole/3.3.4/vconsole.min.js"></script>
		<style type="text/css">
			#body {
				font-size: 16px;
				line-height: 40px;
				width: 200px;
				margin: 20px auto 0;
			}

			[v-cloak] {
				display: none;
			}

			.button-style {
				width: 100px;
				height: 38px;
				margin-right: 20px;
			}

			.targetFulfill {
				color: #3286ce;
			}

			.oldData li {
				padding: 2px 0;
				list-style: none;
			}

			.oldData li span {
				display: inline-block;
				width: 40px;
				text-align: center;
			}

			.oldData li span:nth-child(1) {
				display: inline-block;
				width: 70px;
			}
		</style>
	</head>
	<body>
		<div id="app" v-cloak>
			<section id="body">
				<section style="font-size: 18px;">
					临在状态：{{currentDate}}
				</section>
				<section id="total">
					总分：<span style="color: red;">{{getTotal}}</span>
				</section>

				<section id="loss">
					临在扣分：{{scoreLoss}}
				</section>
				<section>
					<button @click="countChange('scoreLoss',1)" class="button-style">扣</button>
					<button @click="countChange('scoreLoss',-1)" style="width: 50px;height: 38px;">加</button>
				</section>

				<section id="loss">
					自信扣分：{{confidenceLoss*5}}
				</section>
				<section>
					<button @click="countChange('confidenceLoss',1)" class="button-style">扣</button>
					<button @click="countChange('confidenceLoss',-1)" style="width: 50px;height: 38px;">加</button>
				</section>

				<section>
					行为目标：{{targetAction}}
				</section>
				<section>
					<button @click="countChange('targetAction',1)" class="button-style">加</button>
					<button @click="countChange('targetAction',-1)" style="width: 50px;height: 38px;">减</button>
				</section>
				<section>
					思考目标：{{targetThink}}
				</section>
				<section>
					<button @click="countChange('targetThink',1)" class="button-style">加</button>
					<button @click="countChange('targetThink',-1)" style="width: 50px;height: 38px;">减</button>
				</section>
				<section>
					常驻目标：{{importantSelectList.length * 2}}
				</section>
			</section>
			<section style="margin:0 0 30px 30px;">
				<button v-for="(item,index) in importantList" :key="index" @click="importantSelectListChange(item)" style="margin:0 10px 5px 0;"
				 :class="[importantSelectList.indexOf(item)>-1?'targetFulfill':'']">{{item}}</button>
			</section>
			<div id="main" style="width: 100%;height:400px;"></div>
			<section id="loss" style="font-size: 10px;line-height: 14px;margin: 50px 0 100px;">
				过去数据：
				<ul class="oldData" style="padding: 0;">
					<li>
						<span>日期</span>
						<span>总分</span>
						<span>临在</span>
						<span>自信</span>
						<span>行为</span>
						<span>思考</span>
						<span>常驻</span>
					</li>
					<li v-for="(item,index) in flowDataReverse" :key="index">
						<span>{{item.date}}</span>
						<span>{{getTotalScore(item)}}</span>
						<span>{{item.scoreLoss}}</span>
						<span>{{item.confidenceLoss * 5}}</span>
						<span>{{item.targetAction}}</span>
						<span>{{item.targetThink}}</span>
						<span>{{item.importantSelectList.length * 2}}</span>
					</li>
				</ul>
			</section>
		</div>
	</body>
</html>
<script type="text/javascript">
	new Vue({
		el: '#app',
		data: {
			scoreLoss: 0,
			confidenceLoss: 0,
			currentDate: '---',
			targetAction: 0,
			targetThink: 0,
			targetImportant: 0,
			importantSelectList: [],
			importantList: ["反馈高地","下班目标", "早睡", "早起", "锻炼", "练声", "学习技术", "心理学", "听书读书", "交际"]
		},
		mounted() {
			var vConsole = new VConsole(); //手机控制台

			this.getScore();
			this.initChart();
			setInterval(() => {
				this.syncStorage()
			}, 1000)
		},
		computed: {
			flowDataReverse() {
				let flowData = [...this.flowData].reverse()
				return flowData;
			},
			flowData() {
				let _flowData = JSON.parse(window.localStorage.getItem('flowData')) || []
				_flowData.pop()
				return _flowData
			},
			popItem() {
				let _flowData = JSON.parse(window.localStorage.getItem('flowData')) || []
				return _flowData.pop()
			},
			isToday() {
				return this.popItem ? this.popItem.date == this.dateFormat('YYYY-mm-dd', new Date()) : true
			},
			//今天总分
			getTotal() {
				return 60 - this.scoreLoss - this.confidenceLoss * 5 + this.targetAction + this.targetThink + this.importantSelectList
					.length * 2;
			}
		},
		methods: {
			//计算总分
			getTotalScore(item) {
				item.scoreLoss = item.scoreLoss || 0
				item.confidenceLoss = item.confidenceLoss || 0
				item.targetAction = item.targetAction || 0
				item.targetThink = item.targetThink || 0
				item.importantSelectList = item.importantSelectList || []

				return 60 - item.scoreLoss - item.confidenceLoss * 5 + item.targetAction + item.targetThink + item.importantSelectList
					.length * 2;
			},
			//点击常跓目标
			importantSelectListChange(item) {
				const ind = this.importantSelectList.indexOf(item)
				if (ind > -1) {
					this.importantSelectList.splice(ind, 1)
					this.targetImportant -= 2
				} else {
					this.importantSelectList.push(item)
					this.targetImportant += 2
				}
				this.setLocalStorage([...this.flowData, this.getNowItem()])
			},
			//当日首次访问
			syncStorage() {
				if (!this.isToday) {
					this.setLocalStorage([...this.flowData, this.popItem, this.getNowItem()])
				}
			},
			//分数加减
			countChange(type, count) {
				this[type] += count
				this.setLocalStorage([...this.flowData, this.getNowItem()])
			},
			getScore() {
				//非首次访问
				if (this.flowData.length) {
					//有今天数据
					if (this.isToday) {
						this.scoreLoss = this.popItem.scoreLoss
						this.confidenceLoss = this.popItem.confidenceLoss || 0
						this.targetAction = this.popItem.targetAction || 0
						this.targetThink = this.popItem.targetThink || 0
						this.importantSelectList = this.popItem.importantSelectList || []
					} else {
						this.setLocalStorage([...this.flowData, this.popItem, this.getNowItem()])
					}
				} else {
					//首次访问初始化
					this.setLocalStorage([this.getNowItem()])
				}
				this.currentDate = JSON.parse(window.localStorage.getItem('flowData')).pop().date

			},
			initChart() {
				// 基于准备好的dom，初始化echarts实例
				let myChart = echarts.init(document.getElementById('main'));

				let xAxisData = []
				let yAxisData = []
				let scoreLoss = []
				let confidenceLoss = []
				let targetAction = []
				let targetThink = []
				let importantSelectList = []
				const weekList = new Array("日", "一", "二", "三", "四", "五", "六");
				this.flowData.forEach(item => {
					const week = new Date(item.date).getDay();
					const str = "(周" + weekList[week] + ')';
					xAxisData.push(item.date + str)
					yAxisData.push(this.getTotalScore(item))

					scoreLoss.push(item.scoreLoss)
					confidenceLoss.push(item.confidenceLoss * 5)
					targetAction.push(item.targetAction)
					targetThink.push(item.targetThink)
					importantSelectList.push(item.importantSelectList.length)
				})

				let option = {
					title: {
						text: ' '
					},
					tooltip: {
						trigger: 'axis'
					},
					legend: {
						data: ['总分', '临在', '自信', '行为目标', '思考目标', '常跓目标']
					},
					grid: {
						left: '3%',
						right: '4%',
						bottom: '3%',
						containLabel: true
					},
					xAxis: {
						type: 'category',
						boundaryGap: false,
						data: xAxisData
					},
					yAxis: {
						type: 'value',
						// max: function(value) {
						//     return value.max + 5;
						// }
					},
					dataZoom: [{
							show: true,
							realtime: true,
							start: 30,
							end: 100
						},
						{
							type: 'inside',
							realtime: true,
							start: 30,
							end: 100
						}
					],
					series: [{
							name: '总分',
							type: 'line',
							smooth: true,
							data: yAxisData
						},
						{
							name: '临在扣分',
							type: 'line',
							smooth: true,
							data: scoreLoss
						},
						{
							name: '自信扣分',
							type: 'line',
							smooth: true,
							data: confidenceLoss
						},
						{
							name: '行为目标',
							type: 'line',
							smooth: true,
							data: targetAction
						},
						{
							name: '思考目标',
							type: 'line',
							data: targetThink
						},
						{
							name: '常跓目标',
							type: 'line',
							smooth: true,
							data: importantSelectList
						}
					]
				};
				myChart.setOption(option);
			},
			//获取新的临在对象
			getNowItem() {
				//7点第一次执行，重置扣分
				if (!this.isToday) {
					this.scoreLoss = 0
					this.confidenceLoss = 0
					this.targetAction = 0
					this.targetThink = 0
					this.importantSelectList = []
				}
				const item = {
					date: this.dateFormat('YYYY-mm-dd', new Date()),
					scoreLoss: this.scoreLoss,
					confidenceLoss: this.confidenceLoss,
					targetAction: this.targetAction,
					targetThink: this.targetThink,
					importantSelectList: this.importantSelectList
				}
				return item;
			},
			//设置localStorage
			setLocalStorage(data) {
				localStorage.setItem('flowData', JSON.stringify(data))
			},
			//YYYY-mm-dd HH:MM表示2019-06-06 19:45
			dateFormat(fmt, date) {
				let ret;
				const opt = {
					"Y+": date.getFullYear().toString(), // 年
					"m+": (date.getMonth() + 1).toString(), // 月
					"d+": date.getDate().toString(), // 日
					"H+": date.getHours().toString(), // 时
					"M+": date.getMinutes().toString(), // 分
					"S+": date.getSeconds().toString() // 秒
					// 有其他格式化字符需求可以继续添加，必须转化成字符串
				};
				for (let k in opt) {
					ret = new RegExp("(" + k + ")").exec(fmt);
					if (ret) {
						fmt = fmt.replace(ret[1], (ret[1].length == 1) ? (opt[k]) : (opt[k].padStart(ret[1].length, "0")))
					};
				};
				return fmt;
			}

		}
	})
</script>
